$containerColor: #d4d4d4;
$spacing: 10px;
$borderWidth: 5px;

$pendingColor: #a9dfff;
$runningColor: #dddddd;
$passColor: #a9ffb4;
$failedColor: #ffa9a9;

@mixin clearblock {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

body {
  font: 13px Arial;
  background: #d0d0d0;
  padding: 0;
  margin: 0;
}

#tests {
  background: #f5f5f5;
  box-shadow: 0 1px 3px -1px black;
  max-width: 960px;
  margin: 0 auto;

  #test-title {
    line-height: 30px;
    border-bottom: 1px solid $containerColor;
    padding: $spacing;
    position: relative;
    @include clearblock;

    img {
      float: left;
    }

    .version {
      position: absolute;
      top: 0;
      right: $spacing;
      font-weight: normal;
      font-size: 13px;
    }

    .results {
      float: right;
      padding-top: 30px;

      .result {
        $iconWidth: 30px;
        $darkColor: 50%;
        $veryDarkColor: 70%;
        $resultHeight: 30px;

        float: right;
        width: 130px;
        line-height: $resultHeight;
        font-size: 15px;
        text-align: center;
        color: white;
        margin-left: $spacing;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding-left: $iconWidth;
        position: relative;

        .icon {
          position: absolute;
          left: 0;
          line-height: $resultHeight;
          text-align: center;
          display: block;
          width: $iconWidth;
          border-right: 1px solid transparent;
        }

        &.pending {
          background: darken($runningColor, $darkColor);
          border-color: darken($runningColor, $veryDarkColor);
          .icon {
            border-color: darken($runningColor, $veryDarkColor);
          }
        }

        &.passed {
          background: darken($passColor, $darkColor);
          border-color: darken($passColor, $veryDarkColor);
          .icon {
            border-color: darken($passColor, $veryDarkColor);
          }
        }

        &.failed {
          background: darken($failedColor, $darkColor);
          border-color: darken($failedColor, $veryDarkColor);
          .icon {
            border-color: darken($failedColor, $veryDarkColor);
          }
        }

        .display {
          font-weight: bold;
        }
      }
    }
  }

  #test-output {
    padding: $spacing;

    .test-wrapper {
      $minTestHeight: 30px;

      background-color: $pendingColor;
      min-height: $minTestHeight;
      line-height: $minTestHeight;
      transition: background-color 0.3s ease;
      border: 1px solid transparent;
      margin: 0;

      &.running {
        background: $runningColor;
        border-color: darken($runningColor, 20%);

        .wrapper-title {
          background: $runningColor;
        }
      }

      &.passed {
        background: $passColor;
        border-color: darken($passColor, 60%);
        opacity: 0.6;

        .wrapper-title {
          padding-left: 5px;
          background: darken($passColor, 60%);
          color: white;
        }
      }

      &.failed {
        background: darken($failedColor, 60%);
        border-color: darken($failedColor, 60%);
        padding: 0 5px 5px 5px;
        border-radius: 3px;
        margin: 20px 0 !important;

        .wrapper-title {
          background: darken($failedColor, 60%);
          color: white;
          padding-left: 0;
        }

        .display {
          background: wheat;
          border-radius: 5px;
        }
      }

      &:hover {
        opacity: 1;
        transition: none;
      }

      .wrapper-title {
        font-size: 11px;
        font-weight: bold;
        color: black;
        padding: 0 $spacing;
        transition: background-color 0.3s ease;
        background: $pendingColor;

        & > .icon {
          font-size: 15px;
          float: left;
          line-height: $minTestHeight;
          padding: 0 10px 0 5px;
        }
      }

      .display {
        padding: 0 $spacing;
      }

      .failed-tests {
        margin-top: 5px;
        padding: 0 5px 5px 5px;
        border-radius: 3px;
        background: white;

        .test {
          .failure {
            color: crimson;
            font-weight: bold;
          }

          .stack {
            color: #777;
            max-width: 100%;
            overflow: auto;
            margin: 0;
            background: #e6e6e6;
            padding: 0 5px;
            max-height: 300px;
          }
        }

        .test + .test {
          margin-top: $spacing;
        }
      }
    }
    .test-wrapper + .test-wrapper {
      margin-top: 10px;
    }
  }
}

.information {
  padding-left: $borderWidth + $spacing;
  font-size: 12px;
  max-width: 960px;
  margin: 10px auto;
  color: #eee;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
