$containerColor: #d4d4d4;
$spacing: 10px;
$borderWidth: 5px;

$runningColor: #a9dfff;
$passColor: #a9ffb4;
$failedColor: #ffa9a9;

@mixin clearblock {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

body {
  font: 13px Arial;
}

#tests {
  border: $borderWidth solid $containerColor;
  border-radius: 5px;
  background: #f5f5f5;
  box-shadow: 0 1px 3px -1px black;
  max-width: 960px;
  margin: 0 auto;

  #test-title {
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid $containerColor;
    padding: $spacing;
    @include clearblock;

    img {
      float: left;
    }

    .version {
      font-weight: normal;
      font-size: 13px;
      float: right;
      position: relative;
      top: -$spacing;
    }
  }

  #test-output {
    padding: $spacing;

    .test-wrapper {
      background: #d6d6d6;
      min-height: 25px;
      line-height: 25px;
      transition: all 0.3s ease;
      border: 1px solid transparent;
      margin: 0;

      &.running {
        background: $runningColor;
        border-color: darken($runningColor, 20%);
      }

      &.passed {
        background: $passColor;
        border-color: darken($passColor, 60%);
        opacity: 0.6;

        .wrapper-title {
          padding-left: 5px;
          background: darken($passColor, 60%);
          color: white;

          & > .icon {
            float: left;
            line-height: 25px;
            padding-right: 5px;
          }
        }
      }

      &.failed {
        background: darken($failedColor, 60%);
        border-color: darken($failedColor, 60%);
        padding: 0 5px 5px 5px;
        border-radius: 3px;
        margin: 20px 0 !important;

        .wrapper-title {
          background: darken($failedColor, 60%);
          color: white;
          padding-left: 0;

          & > .icon {
            font-size: 15px;
            float: left;
            line-height: 25px;
            padding-right: 5px;
          }
        }

        .display {
          background: wheat;
          border-radius: 5px;
        }
      }

      &:hover {
        opacity: 1;
        transition: none;
      }

      .wrapper-title {
        font-size: 11px;
        font-weight: bold;
        color: #555;
        padding: 0 $spacing;
      }

      .display {
        padding: 0 $spacing;
      }

      .failed-tests {
        margin-top: 5px;
        padding: 0 5px 5px 5px;
        border-radius: 3px;
        background: white;

        .test {
          .failure {
            color: crimson;
            font-weight: bold;
          }

          .stack {
            color: #777;
            max-width: 100%;
            overflow: auto;
            margin: 0;
            background: #e6e6e6;
            padding: 0 5px;
            max-height: 300px;
          }
        }

        .test + .test {
          margin-top: $spacing;
        }
      }
    }
    .test-wrapper + .test-wrapper {
      margin-top: 10px;
    }
  }
}

.information {
  padding-left: $borderWidth + $spacing;
  font-size: 12px;
  max-width: 960px;
  margin: 10px auto;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
