$containerColor: #d4d4d4;
$spacing: 10px;
$borderWidth: 5px;

$runningColor: #a9dfff;
$passColor: #a9ffb4;
$failedColor: #ffa9a9;

@mixin clearblock {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

body {
  font: 13px Arial;
}

#tests {
  border: $borderWidth solid $containerColor;
  border-radius: 5px;
  background: #f5f5f5;
  box-shadow: 0 1px 3px -1px black;
  max-width: 960px;
  margin: 0 auto;

  #test-title {
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid $containerColor;
    padding: $spacing;
    @include clearblock;

    img {
      float: left;
    }

    .version {
      font-weight: normal;
      font-size: 13px;
      float: right;
      position: relative;
      top: -$spacing;
    }
  }

  #test-output {
    padding: $spacing;

    .test-wrapper {
      background: #d6d6d6;
      padding: 0 $spacing;
      min-height: 25px;
      line-height: 25px;
      transition: all 0.3s ease;
      border: 1px solid transparent;

      &.running {
        background: $runningColor;
        border-color: darken($runningColor, 20%);
      }
      &.passed {
        background: $passColor;
        border-color: darken($passColor, 20%);
        opacity: 0.7;
      }
      &.failed {
        background: $failedColor;
        border-color: darken($failedColor, 20%);
      }

      &:hover {
        opacity: 1;
        transition: none;
      }

      .wrapper-title {
        font-size: 11px;
        font-weight: bold;
        color: #555;
      }
    }
    .test-wrapper + .test-wrapper {
      margin-top: 10px;
    }
  }
}

.information {
  padding-left: $borderWidth + $spacing;
  font-size: 12px;
  max-width: 960px;
  margin: 10px auto;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
