.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.block {
  display: block !important;
}
.clearblock {
  display: block;
}
.clearblock:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}
/*---------------------------------------------------
    LESS Elements 0.9.
    Borrowed mixins: .gradient()
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* structure defaults */
/* computeds/etc */
::selection {
  background: #222;
  color: white;
}
::-moz-selection {
  background: #222;
  color: white;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder {
  color: #aaa;
}
body,
html,
header,
.main-content {
  /*background: red !important;*/
}
#html5-badge {
  display: none;
}
.highlight {
  display: none;
}
nav .drop-top {
  display: none;
}
header .pane-links {
  width: 35% !important;
}
header .pane-links .areas {
  max-width: 50%;
}
header .pane-links .logo {
  max-width: 50%;
  width: 161px;
}
header .pane-links .logo a {
  display: block;
  padding-right: 20px;
}
header .pane-links .logo img {
  width: 100%;
}
header nav {
  margin-left: 35% !important;
}
.pane-bg {
  background: #d3582d;
}
footer .layout-mode {
  display: none;
}
.unsupported-browser {
  position: absolute;
  top: 80px;
  right: 20px;
  background: #c84a4a;
  color: white;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  padding: 15px;
  width: 350px;
  max-width: 75%;
  z-index: 2;
  filter: alpha(opacity=40);
}
.unsupported-browser:hover {
  filter: alpha(opacity=100);
}
