$fw-animation-move-distance: 15px;
$fw-animation-speed: 0.5s;
$fw-animation-easing: ease;

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.fw-entity {
  .fade-in {
    opacity: 0;
    @include transition(opacity $fw-animation-speed $fw-animation-easing);
  }

  .fade-in-from-left {
    position: relative;
    left: -$fw-animation-move-distance;
    opacity: 0;
    @include transition(left $fw-animation-speed $fw-animation-easing, opacity $fw-animation-speed $fw-animation-easing);
  }

  .fade-in-from-right {
    position: relative;
    left: $fw-animation-move-distance;
    opacity: 0;
    @include transition(left $fw-animation-speed $fw-animation-easing, opacity $fw-animation-speed $fw-animation-easing);
  }

  .fade-in-from-top {
    position: relative;
    top: -$fw-animation-move-distance;
    opacity: 0;
    @include transition(top $fw-animation-speed $fw-animation-easing, opacity $fw-animation-speed $fw-animation-easing);
  }

  .fade-in-from-bottom {
    position: relative;
    top: $fw-animation-move-distance;
    opacity: 0;
    @include transition(top $fw-animation-speed $fw-animation-easing, opacity $fw-animation-speed $fw-animation-easing);
  }

  &.fw-entity-animate {
    & > .fade-in,
    & > * > .fade-in {
      opacity: 1;
      @include transition(opacity $fw-animation-speed $fw-animation-easing);
    }

    & > .fade-in-from-left,
    & > .fade-in-from-right,
    & > .fade-in-from-top,
    & > .fade-in-from-bottom,
    & > * > .fade-in-from-left,
    & > * > .fade-in-from-right,
    & > * > .fade-in-from-top,
    & > * > .fade-in-from-bottom {
      position: relative;
      left: 0;
      top: 0;
      opacity: 1;
      @include transition(top $fw-animation-speed $fw-animation-easing, left $fw-animation-speed $fw-animation-easing, opacity $fw-animation-speed $fw-animation-easing);
    }
  }
}



