$fw-animation-move-distance: 15px;
$fw-animation-speed: 0.5s;
$fw-animation-easing: ease;

@import "source/styles/entity.scss";
@import "source/styles/resolved-animations.scss";
@import "source/styles/loader.scss";
